.container-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  &-item {
    display: flex;
    margin-bottom: 5rem;
  }
  &-img {
    flex: 1 1 0%;
  }
  &-data {
    flex: 2 1 0%;
    padding-right: 20px;
    .attribute{
      font-size: 26px;
      font-weight: 500;
      margin-right: 5px;
      margin-bottom: 18px;
      &-des{
        display: inline;
        margin-left: 10px;
        font-size: 26px;
        font-weight: 100;
      }
    }
    h2{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3rem;

    }
    
  }
}
.button-back {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6rem;
  margin-left: 2rem;
}

.img {
  object-fit: cover;
  width: 600px;
  height: 600px;
}
