.header-wrap {
    color: #fff;
    background: #4c394e;
    z-index: 10;

    height: 80px;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.header-s {
    max-width: 1440px;
}
.header-s,
.header-wrap {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.primary-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.primary-wrap .brand-link {
    display: block;
    width: 154px;
    max-width: 100%;
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    float: right;
    flex: 0.6;
}

.search-icon {
    display: inline;

    width: 23px;
    position: relative;
    left: 35px;
    bottom: 2px;
}

.text-input {
    width: 60%;
    height: 44px;

    padding-left: 40px;
}

.header-search-btn,
.header-advanced-search-btn {
    width: 150px;
    height: 45px;

    box-sizing: border-box;

    margin-left: 10px;
    font-size: 11pt;
}

.header-search-btn {
    border-radius: 5px;
    border: none;

    background-color: #10bbd5;
    transition: background 0.3s;

    &:hover {
        background-color: #29d5ef;
    }
}

.header-advanced-search-btn {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: inherit;
    color: rgba(255, 255, 255, 0.7);

    transition: all 0.3s;

    &:hover {
        border: 1px solid white;
        color: white;
    }
}

.text {
    color: white;
}

.nav-home,
.nav-join,
.nav-card,
.nav-profile {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    align-items: center;
    flex: 0.1 1;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: white;

        filter: brightness(0) invert(1);
    }

    &:active {
        color: white;
    }
}

.card-number {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    div {
        margin-left: 8px;
    }
    &-icon {
        position: absolute;
        bottom: 18px;
        left: 26%;
        background: #10bbd5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 2px;
    }
}

.nav-profile {
    &:hover {
        filter: brightness(130%);
    }
}
.nav-profile {
    align-items: center;
}

.nav-icon {
    display: inline;
    position: relative;
    bottom: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    transition: all 0.3s;
    filter: brightness(0) invert(0.9);
}

.sidebar-social li {
    text-align: center;
    width: 31.9%;
    margin-bottom: 3px !important;
    display: inline-block;
    font-size: 10px;
    padding: 0;
}

.contain-icon {
    flex: 0.2;
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    gap: 35px;

}
.sidebar-social i {
    display: block;
    margin: 0 auto 10px auto;
    width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
    margin-top: 0;
    padding-top: 5px;
}

.sidebar-social a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.sidebar-social a span {
    color: black;
    font-size: 15px;
    padding: 5px 0 10px 0;
    display: block;
    text-transform: uppercase;
    font-family: "Montserrat";
    letter-spacing: 1px;
}
/* CSS para posicionar el bade cerca del carrito*/
.cart {
    position: relative;
}
